header {
  font-family: 'Roboto', sans-serif;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: var(--padding-section-desktop);
  position: relative;
}

header nav,
header .button-container {
  flex-basis: 160px;
}

header nav ul {
  display: flex;
  gap: 30px;
  list-style: none;
  padding-left: 0;
}

header a {
  text-decoration: none;
  color: var(--text-primary);
}

header a:hover {
  text-decoration: underline;
}

header a:active {
  opacity: 0.8;
}

.button-container {
  display: flex;
  justify-content: flex-end;
}

header button {
  background-color: var(--text-primary);
  color: var(--text-invert);
  border-radius: 1.75em;
  margin-left: 27,86px;
  padding: 0.75em 1.25em;
  cursor: pointer;
  transition: transform 100ms ease;
  border-color: transparent;
}

header button:hover {
  opacity: 0.8;
}

header button:active {
  transform: scale(0.95);
}

#menu {
  display: none;
}

@media (max-width: 1000px) {

  header {
    padding-inline: var(--padding-section-tablet);
  }
  
}
/* Props to you for achieving this! Looks great and is functional! */
@media (max-width: 700px) {

  header {
    height: unset;
    min-height: 80px;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding: 30px 0 0 0;
  }
  
  header .button-container
  {
    display: none;
  }

  #menu {
    display: unset;
    font-size: 1.5rem;
    position: absolute;
    right: var(--padding-section-mobile);
    top: 40px;
    transform: translateY(-50%);
    cursor: pointer;
  }

  #menu:hover {
    color: var(--text-secondary);
  }

  header nav {
    width: 100%;
    display: none;
    order: 1;
    flex-basis: unset;
    border-top: 1px solid var(--text-primary);
    border-bottom: 1px solid var(--text-primary);
  }

  header nav.active {
    display: block;
  }

  header nav ul {
    flex-direction: column;
    text-align: center;
    gap: 0;
  }

  header nav ul li {
    padding-block: 10px;
    cursor: pointer;
  }

  header nav ul li:hover {
   background-color: var(--accent);
  }

  header nav li a {
    text-decoration: none;
  }

  header a:hover {
    text-decoration: none;
  }

}

@media (max-width: 350px) {
  header {
    justify-content: flex-start;
    padding-inline: 10px;
  }
}