*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* Awesome work on using CSS variables! */
:root {
  /* COLORS */
  --text-primary: #000000;
  --text-secondary: #646464;
  --text-invert: #FFFFFF;
  --accent: #FEBD2F;

  /* BOX-MODEL */
  --padding-section-desktop: 80px;
  --padding-section-tablet: 40px;
  --padding-section-mobile: 20px;
}
/* Great work on being detailed oriented and adding the right fonts to each component of the website. */

body {
  background-color: #E5E5E5;
  font-family: 'Roboto Serif', serif;
}

@media (min-width: 1440px) {
  header, main, footer {
    max-width: 1440px;
    margin: 0 auto;
  }
  footer {
    max-width: calc(1440px - 2* var(--padding-section-desktop));
  }
}

